.msr-Switch {
  appearance: none;
  border: none;
  cursor: pointer;
  flex: none;
  border-radius: var(--msr-radius-full);
  background-color: var(--msr-color-border-strong);
  padding: 2px;
  transition: background-color var(--msr-transition-fast);
  position: relative;
  display: inline-flex;
  align-items: center;
}
.msr-Switch[data-size="md"] {
  width: 40px;
  height: 22px;
}
.msr-Switch[data-size="sm"] {
  width: 32px;
  height: 18px;
}
.msr-Switch[aria-checked="true"] {
  background-color: var(--msr-color-primary);
}
.msr-Switch:focus-visible {
  outline: 2px solid var(--msr-color-ring);
  outline-offset: 2px;
}
.msr-Switch:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.msr-Switch__thumb {
  display: block;
  border-radius: var(--msr-radius-full);
  background-color: #fff;
  box-shadow: var(--msr-shadow-1);
  transition: transform var(--msr-transition-fast);
}
.msr-Switch[data-size="md"] .msr-Switch__thumb {
  width: 18px;
  height: 18px;
}
.msr-Switch[data-size="sm"] .msr-Switch__thumb {
  width: 14px;
  height: 14px;
}
.msr-Switch[data-size="md"][aria-checked="true"] .msr-Switch__thumb {
  transform: translateX(18px);
}
.msr-Switch[data-size="sm"][aria-checked="true"] .msr-Switch__thumb {
  transform: translateX(14px);
}
