.msr-ScrollArea {
  scrollbar-width: thin;
  scrollbar-color: var(--msr-color-border-strong) transparent;
}
.msr-ScrollArea[data-orientation="vertical"] { overflow-y: auto; overflow-x: hidden; }
.msr-ScrollArea[data-orientation="horizontal"] { overflow-x: auto; overflow-y: hidden; }
.msr-ScrollArea[data-orientation="both"] { overflow: auto; }

.msr-ScrollArea::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.msr-ScrollArea::-webkit-scrollbar-track {
  background: transparent;
}
.msr-ScrollArea::-webkit-scrollbar-thumb {
  background-color: var(--msr-color-border-strong);
  border-radius: var(--msr-radius-full);
  border: 2px solid transparent;
  background-clip: content-box;
}
.msr-ScrollArea::-webkit-scrollbar-thumb:hover {
  background-color: var(--msr-color-fg-subtle);
}
